<div class='course'>
  <h2><a href='/courses/rails-winter-2010.html'>Rails Foundations</a></h2>
  <p>Gain solid footing in the world of Rails development; Make something awesome.</p>
  <p>
    20 hours<br/>
    Tu/Th; Jan 18 - Feb 18; 6:00-8:00PM
  </p>
  <div class='signup-button'>
    <a href='/courses/rails-winter-2010.html'>Learn More & Register</a>
  </div>
</div>

<div class='course'>
  <h2><a href='/courses/ui-prototyping-winter-2010.html'>Web UI Prototyping</a></h2>
  <p>Craft rich, delicious interfaces that'll make your customers drool.</p>
  <p>
    20 hours<br/>
    Tu/Th; Mar 2 - Apr 1; 6:00-8:00PM
  </p>
  <div class='signup-button'>
    <a href='/courses/ui-prototyping-winter-2010.html'>Learn More & Register</a>
  </div>
</div>