<div id='quotes'>
  <div class='quote'>
  Thank you for teaching this class. It was some of the clearest teaching I've received in the area. the instructors work really well together. Tell me if you are doing any more classes over the next year.
  </div>

  <div class='quote hidden'>
  Absolutely fantastic introduction. I would be interested in a more advanced follow-on course, if you ever offer one. You are both excellent instructors; the class was both well-designed and well-delivered. Kudos.
  </div>

  <div class='quote hidden'>
  Great, friendly, knowledgeable instructors. We covered a large amount of material in the short time of the class, which was impressive and a nice change from the slow pace of other classes.
  </div>

  <div class='quote hidden'>
  Amazing training at an amazing price.
  </div>

  <div class='quote hidden'>
  I'd have to say that the free Ruby on Rails training at the @workantile by @trek and Jesse was OUT FUCKING STANDING.
  </div>

  <div class='quote hidden'>
  Been off the radar today... in Rails Class taught by @trek, good stuff, last day though. I'd highly recommend his classes to anyone.
  </div>
</div>